%h4.text-center Diversity and inclusion scholarship
%p GitLab, with support from Google and CNCF, is offering diversity, inclusion and belonging scholarships to individuals who may not otherwise have the opportunity to attend our Commit events. Applications are open for San Francisco.
%p.text-center
  %a.btn.cta-btn.orange{ target: "_blank", href: "https://docs.google.com/forms/d/e/1FAIpQLSeJ4mLWqr235bQMq_zXUCyYHlledSyQfBW04FpWf14SgYiT1w/viewform?usp=sf_link" } Apply today
